<p-toast></p-toast>

<div class="flex flex-column sm:flex-row justify-content-between mb-3 gap-4">
  <div class="flex flex-row gap-2">
    <div class="flex items-center gap-2">
      <p-iftalabel>
        <label for="categories">Categorias: </label>
        <select
          class="p-inputtext"
          id="categories"
          (change)="onCategoryChange($event)"
          [value]="selectedCategoryId() || 0"
        >
          <option [value]="0">Todas</option>
          <option *ngFor="let cat of categories()" [value]="cat.id">
            {{ cat.name }}
          </option>
        </select>
      </p-iftalabel>
    </div>
  </div>
  <button
    pButton
    type="button"
    icon="pi pi-plus"
    class="w-15rem"
    label="Agregar Elemento"
    (click)="openAddDialog()"
  ></button>
</div>
<div class="w-full">
  <p-table
    #dt
    [value]="filteredElements()"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['name', 'brand', 'provider', 'category.name']"
    [loading]="false"
    [style]="{ 'min-width': '60rem' }"
    class="mx-auto"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-end">
        <span class="p-input-icon-left">
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Nombre <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="brand">
          Marca <p-sortIcon field="brand"></p-sortIcon>
        </th>
        <th pSortableColumn="provider">
          Proveedor <p-sortIcon field="provider"></p-sortIcon>
        </th>
        <th pSortableColumn="buyDate" class="text-center">
          Fecha compra <p-sortIcon field="buyDate"></p-sortIcon>
        </th>
        <th pSortableColumn="category.name">
          Categoría <p-sortIcon field="category.name"></p-sortIcon>
        </th>
        <th>Ubicacion</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
      <tr>
        <td>{{ element.name }}</td>
        <td>{{ element.brand }}</td>
        <td>{{ element.provider }}</td>
        <td>{{ element.buyDate | date : "yyyy-MM-dd" }}</td>
        <td>{{ element.category?.name }}</td>
        <td>
          {{
            getLocationName(
              element.location.locationId,
              element.location.locationType
            )
          }}
        </td>
        <td class="flex gap-2">
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-sm p-mr-2"
            (click)="openEditDialog(element)"
            label=""
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-sm p-button-danger"
            (click)="confirmDeleteElement($event, element.id)"
            label=""
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No se encontraron elementos.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="displayDialog"
  modal
  [closable]="false"
  header="{{ isNew() ? 'Agregar Elemento' : 'Editar Elemento' }}"
  styleClass="p-3"
>
  <form [formGroup]="form" (ngSubmit)="saveElement()" class="flex flex-column">
    <div class="p-fluid flex flex-column gap-2">
      <div class="p-field">
        <p-iftalabel>
          <label for="name">Nombre*</label>
          <input
            pInputText
            id="name"
            formControlName="name"
            autocomplete="off"
            class="w-full"
          />
          <div
            *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
            class="p-error"
          ></div>
        </p-iftalabel>
      </div>
      <div class="p-field">
        <p-iftalabel>
          <label for="brand">Marca*</label>
          <input
            pInputText
            id="brand"
            formControlName="brand"
            autocomplete="off"
            class="w-full"
          />
        </p-iftalabel>
      </div>
      <div class="p-field">
        <p-iftalabel>
          <label for="provider">Proveedor*</label>
          <input
            pInputText
            id="provider"
            formControlName="provider"
            autocomplete="off"
            class="w-full"
          />
        </p-iftalabel>
      </div>
      <div class="p-field">
        <p-iftalabel>
          <label for="buyDate">Fecha de Compra*</label>
          <input
            pInputText
            type="date"
            id="buyDate"
            class="w-full"
            formControlName="buyDate"
          />
        </p-iftalabel>
      </div>
      <div class="p-field">
        <p-iftalabel>
          <label for="categoryId">Categoría*</label>
          <select
            pInputText
            id="categoryId"
            formControlName="categoryId"
            class="w-full"
          >
            <option [value]="null" disabled selected>
              Seleccioná una categoría
            </option>
            <option *ngFor="let cat of categories()" [value]="cat.id">
              {{ cat.name }}
            </option>
          </select>
        </p-iftalabel>
      </div>
      <div class="p-field">
        <p-iftalabel>
          <label for="locationId">Ubicacion*</label>
          <select
            pInputText
            id="locationId"
            formControlName="locationId"
            class="w-full"
            (change)="onLocationChange($event)"
          >
            <option *ngFor="let loc of locations()" [value]="loc.id">
              {{ loc.name }} ({{
                loc.type === "deposit" ? "Depósito" : "Obra"
              }})
            </option>
          </select>
        </p-iftalabel>
      </div>
    </div>
    <div class="flex justify-content-end mt-4">
      <button
        pButton
        label="Cancelar"
        class="p-button-text p-mr-2"
        type="button"
        size="small"
        (click)="cancelDialog()"
      ></button>
      <button
        pButton
        [label]="isNew() ? 'Agregar' : 'Guardar'"
        type="submit"
        [disabled]="form.invalid"
      ></button>
    </div>
  </form>
</p-dialog>
<p-confirmpopup />
