<p-toast></p-toast>
<div class="p-">
  <div class="flex justify-content-between align-items-center mb-3">
    <h2 class="pb-2">Notas de elementos</h2>
  </div>
  <div class="notes-list flex flex-wrap gap-3">
    <p-card *ngFor="let note of notes()" class="note-card">
      <div class="flex flex-column gap-2">
        <div class="text-xs text-secondary mb-2">
          <b>Creada:</b> {{ note.createdAt | date:'dd/MM/yyyy HH:mm' }}
          <span *ngIf="note.createdByType">
            | <b>Por:</b> {{ note.createdByType }}</span
          >
        </div>
        <h3 class="mb-1">{{ note.title }}</h3>
        <div class="ql-snow">
          <div class="ql-editor" [innerHTML]="renderNoteHtml(note.text)"></div>
        </div>

        <div class="flex gap-2 mt-2">
          <button
            pButton
            icon="pi pi-pencil"
            (click)="goToEditor(note.id)"
            label="Editar"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
