::ng-deep {
  .p-menu {
    height: 90 !important;
    width: 220px !important;
    --p-menu-item-padding: 0.8rem 1rem;
    span {
      font-size: 0.8rem;
    }
    .active {
      background: var(--p-menu-item-focus-background);
      .p-menu-item-content {
        border: 1px solid #eab308;
      }
    }
    li {
      width: auto;
    }
    .p-menu-item-content {
      border: 1px solid transparent;
    }
  }
}
