.custom-pos {
  right: -57px;
  top: 62px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .custom-pos {
    right: -57px;
    top: calc(4rem + (62px));
  }
}

::ng-deep {
  .p-button-label {
    font-size: 1.2rem;
  }
  .p-message-text {
    width: 100% !important;
    white-space: wrap;
  }
  .p-drawer-right {
    width: 30rem !important;
  }
  @media (max-width: 576px) {
    .p-drawer-right {
      width: 100% !important;
    }
  }

  .p-button {
    z-index: 5;
  }

  .p-drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    height: 100%;
    padding: 1rem 1rem;
  }
}

.word-all {
  word-break: keep-all;
}
