.custom-pos {
  right: -57px;
  top: 62px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .custom-pos {
    right: -57px;
    top: calc(4rem + (62px));
  }
}

::ng-deep {
  .p-button-label {
    font-size: 1.2rem;
  }
  .p-message-text {
    width: 100% !important;
    white-space: wrap;
  }
  .p-drawer-right {
    width: 30rem !important;
  }
  @media (max-width: 576px) {
    .p-drawer-right {
      width: 100% !important;
    }
  }
  .p-button {
    z-index: 5;
    --p-button-primary-background: var(--p-surface-800);
    --p-button-primary-color: white;
    --p-button-primary-border-color: #eab308;
    --p-button-primary-hover-background: #eab308;
    --p-button-primary-hover-border-color: #eab308;
    --p-button-primary-hover-color: #18181b;
    --p-button-primary-active-background: #eab308;
    --p-button-primary-active-border-color: #eab308;
  }
}

.word-all {
  word-break: keep-all;
}
