<div class="p-4 w-full overflow-x-scroll sm:overflow-x-hidden">
  <h4 class="pb-2">Filtrar por:</h4>
  <div class="flex flex-column md:flex-row gap-3 mb-3">
    <div class="flex flex-row gap-2">
      <p-iftalabel>
        <label for="type">Tipo</label>
        <select
          class="p-inputtext w-12rem"
          [value]="filterTable() ?? ''"
          (change)="onTableChange($event)"
          id="type"
        >
          <option [value]="''">Todos</option>
          <option *ngFor="let opt of tableOptions" [value]="opt.value ?? ''">
            {{ opt.label }}
          </option>
        </select>
      </p-iftalabel>
      <p-iftalabel>
        <label for="action">Accion</label>
        <select
          class="p-inputtext w-12rem"
          [value]="filterAction() ?? ''"
          (change)="onActionChange($event)"
          id="action"
        >
          <option [value]="''">Todos</option>
          <option *ngFor="let opt of actionOptions" [value]="opt.value ?? ''">
            {{ opt.label }}
          </option>
        </select>
      </p-iftalabel>
      <p-iftalabel>
        <label for="user">Usuario</label>
        <select
          class="p-inputtext w-12rem"
          [value]="filterAction() ?? ''"
          (change)="onActorChange($event)"
          id="user"
        >
          <option [value]="''">Todos</option>
          <option
            *ngFor="let opt of actorTypeOptions"
            [value]="opt.value ?? ''"
          >
            {{ opt.label }}
          </option>
        </select>
      </p-iftalabel>
    </div>
    <div class="flex align-items-center gap-2">
      <!-- <input
      pInputText
      type="text"
      placeholder="Buscar en eventos..."
      [(ngModel)]="searchText()"
      (ngModelChange)="searchText.set($event)"
      style="min-width: 200px"
    /> -->
      <button
        pButton
        type="button"
        icon="pi pi-refresh"
        (click)="resetFilters()"
        label="Limpiar filtros"
      ></button>
    </div>
  </div>

  <div class="w-full">
    <p-table
      [value]="filteredEvents()"
      [rows]="10"
      [paginator]="true"
      [style]="{ 'min-width': '40rem' }"
    >
      <ng-template pTemplate="header">
        <tr class="text-center">
          <th>Fecha</th>
          <th>Acción</th>
          <th>Usuario</th>
          <th>Detalle</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
        <tr>
          <td>{{ event.createdAt | date:'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ event.action }}</td>
          <td (click)="openChangedByInfo(event.changedByUser)">
            <p-button> {{ event.changedByUser.name}} </p-button>
          </td>
          <td (click)="goToDetail(event.id)">
            <p-button>Ver detalle</p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center">No hay eventos para mostrar.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast></p-toast>

<p-dialog
  header="Información del usuario"
  [visible]="!!changedByDialog()"
  [modal]="true"
  [dismissableMask]="true"
  closable="false"
  styleClass="w-20rem"
  *ngIf="changedByDialog()"
>
  <div class="flex flex-column gap-2">
    <div><b>ID:</b> {{ changedByDialog()?.id }}</div>
    <div><b>Nombre:</b> {{ changedByDialog()?.name }}</div>
    <div><b>Email:</b> {{ changedByDialog()?.email }}</div>
    <div>
      <b>Creado:</b> {{ changedByDialog()?.createdAt | date:'dd/MM/yyyy HH:mm'
      }}
    </div>
  </div>
  <div class="flex justify-content-end mt-2">
    <p-button (onClick)="closeChangedByDialog()"> Cerrar </p-button>
  </div>
</p-dialog>
