<div *ngIf="isLoginRoute(); else mainLayout">
  <router-outlet></router-outlet>
</div>

<ng-template #mainLayout>
  <div class="h-screen flex flex-column">
    <!-- Contenedor principal -->
    <div class="flex flex-1 min-h-0">
      <!-- Sidebar fijo desktop -->
      <aside
        class="flex justify-content-center align-content-center hidden lg:block shrink-0 lg:w-10rem"
        *ngIf="authService.isAuthenticated?.()"
      >
        <div class="hidden lg:block">
          <app-menu></app-menu>
        </div>
      </aside>

      <!-- Drawer mobile -->
      <p-drawer
        [(visible)]="sidebarVisible"
        header="Menu"
        position="left"
        [modal]="true"
        closable="false"
      >
        <app-menu></app-menu>
      </p-drawer>
      <!-- Main scrollable -->
      <main class="flex-1 overflow-auto min-h-0 relative surface-50">
        <div class="bg-custom p-3 flex justify-content-between">
          <div class="lg:hidden">
            <p-button (click)="openDrawer()" icon="pi pi-bars" />
          </div>
          <div class="hidden lg:block"></div>
          <app-missing-menu></app-missing-menu>
        </div>
        <div class="p-3">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</ng-template>
