/* styles.scss (global) */
@keyframes p-glow-pulse-danger {
  0% {
    background-color: transparent;
    color: var(--p-button-danger-color);
    border-color: var(--p-button-danger-border-color);
  }
  50% {
    background-color: var(--p-button-danger-background);
    color: var(--p-button-danger-color);
    border-color: var(--p-button-danger-border-color);
  }
  100% {
    background-color: transparent;
    color: var(--p-button-danger-color);
    border-color: var(--p-button-danger-border-color);
  }
}

/* aplicá la animación sólo a botones de danger con tu clase extra */
.p-button.p-button-danger.glow-pulse {
  animation: p-glow-pulse-danger 1.5s ease-in-out 0s 3;
}

::ng-deep {
  .p-drawer-left {
    width: 10rem !important;
  }
  .p-drawer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg-custom {
  background-color: var(--p-content-background);
}
